.text-center.grid.gap-6.p-4
  %h1.text-2xl.font-bold
    All events

  %ul
    - if current_user 
      - @events.each do |event| 
        .bg-green-500.rounded-md.m-4
          = link_to event.title, event
    %br
    .bg-blue-600.rounded-md
      = link_to "Create a new event", new_event_path  
    